body{
  background-image: url("http://www.pptgrounds.com/wp-content/uploads/2013/12/White-Crack-Effect-Backgrounds.jpg");
  background-repeat:no-repeat ;
}


header{
  background-image: url("");
background-repeat: repeat;
width: 1355px;
height: 108px;
/*! border:1px solid red; */
border-radius: 5px;
position: absolute;
margin-left: -4px;
margin-top: 140px;
  text-align: center;
  /*!  */
}

p{
  color: black;
  margin-top: -121px;
}

nav h5{
  display: inline-block;
  margin-left: -316px;
  margin-top: 47px;
  padding-right: 63px;
  color: #030303;
  text-align: center;
  width: 39px;
  height: 29px;
  line-height: 26px;
  padding-left: 45px;
  z-index: 1;
  position: absolute;
}

.logo1{
position: absolute;
width: 330px;
margin-left: 318px;
margin-top: -150px;
}

.logo2{
  position: absolute;
  width: 280px;
  margin-left: -650px;
  margin-top: -111px;
}

.icon1{
  width: 164px;
  position: absolute;
  margin-left: -318px;
  margin-top: -37px;
}

.icon2{
  width: 164px;
  position: absolute;
  margin-left: -105px;
  margin-top: -21px;
}

.icon3{
  width: 164px;
  position: absolute;
  margin-left: 116px;
  margin-top: -42px;
}

#tableau{
  position: absolute;
  margin-left: -97px;
  color: black;
}

#graph{
  position: absolute;
  margin-left: 112px;
}

.graph{
  width: 600px;
  height: 50px,auto;
  margin-left: 349px;
  margin-top: 309px;
  border: 5px solid black;
}

.tableau{
width: 600px;
height: auto;
margin-left: 349px;
margin-top: 90px;
border: 5px solid black;
position: absolute;
z-index: 1;
}

#img_graph{

}

#img_tableau{

}

footer{
  background-color: black;
  color:white;
  width: 1335px;
  height: 100px;
  margin-top: 1147px;
  border-radius: 10px;
  z-index: 1;
  position: absolute;
}

footer h5{

  margin-left: 560px;
  padding-top: -5px;
}

footer p{

  display: inline-block;
  color: white;
  padding-right: 91px;
  margin-left: 50px;
}

.nuagecontact{
  width: 485px;
  height: auto;
  margin-left: 10px;
  margin-top: 243px;
  z-index: 0;
  position: absolute;
}

.contact{
margin-left: 10px;
  margin-top: 496px;
  position: absolute;
}

.contact h1{

  position: absolute;
  z-index: 1;
  margin-top: 423px;
  margin-left: 172px;
  color: #080707;
}

.contact p{

  position: absolute;
  z-index: 1;
  margin-top: 474px;
  display: inline-block;
  margin-left: 207px;
  color: black;
}

#facebook{
  width: 30px;
  z-index: 1;
  position: absolute;
  margin-left: 163px;
  margin-top: 470px;
}

#twitter{
  width: 24px;
  z-index: 1;
  position: absolute;
  margin-left: 168px;
  margin-top: 470px;
}

#slack{
  width: 24px;
  z-index: 1;
  position: absolute;
  margin-left: 169px;
  margin-top: 470px;
}

.flocon1{
width: 340px;
position: absolute;
margin-left: -3px;
margin-top: 429px;
}

.flocon2{
width: 211px;
position: absolute;
margin-left: 1027px;
margin-top: 737px;
}

/* css menu pour le tableau */
#ST
{
  position: absolute;
  margin-top: 185px;
  margin-left: 578px;
  background-color: transparent;
  border: 0px solid transparent;
}
/* fin du menu tableau */

/* css de la div contenant le tableau */
#TAB
{
  position: absolute;
  margin-top: 280px;
  margin-left: 500px;
}
/* fin de la div contenant le tableau */

/* le contour du tableau*/
table
{
  border: 3px solid black;
}
/* l'interieur du tableau */
table > *
{
  text-align: center;
}


/*neige

body { background-color:#CCC; }
#snow{
	background: none;
	font-family: Androgyne;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

*/
