<table>

<tr><td>Temperature</td><td>Humidite</td><td>Heure du releve</td></tr><tr><td>22.00</td><td>20.00</td><td>10:01</td></tr>
<tr><td>22.00</td><td>20.00</td><td>10:01</td></tr>
<tr><td>22.00</td><td>20.00</td><td>10:02</td></tr>
<tr><td>22.00</td><td>20.00</td><td>10:02</td></tr>
<tr><td>22.00</td><td>20.00</td><td>10:02</td></tr>
<tr><td>22.00</td><td>20.00</td><td>10:03</td></tr>
<tr><td>22.00</td><td>20.00</td><td>10:03</td></tr>
<tr><td>22.00</td><td>20.00</td><td>10:03</td></tr>
<tr><td>22.00</td><td>20.00</td><td>10:04</td></tr>
<tr><td>22.00</td><td>20.00</td><td>10:04</td></tr>
<tr><td>22.00</td><td>20.00</td><td>10:05</td></tr>
<tr><td>22.00</td><td>20.00</td><td>10:05</td></tr>
<tr><td>22.00</td><td>20.00</td><td>10:05</td></tr>
<tr><td>22.00</td><td>20.00</td><td>10:06</td></tr>
<tr><td>22.00</td><td>20.00</td><td>10:06</td></tr>
<tr><td>22.00</td><td>20.00</td><td>10:06</td></tr>
<tr><td>22.00</td><td>20.00</td><td>10:07</td></tr>
<tr><td>22.00</td><td>20.00</td><td>10:07</td></tr>
<tr><td>22.00</td><td>20.00</td><td>10:07</td></tr>
<tr><td>22.00</td><td>20.00</td><td>10:08</td></tr>
<tr><td>22.00</td><td>20.00</td><td>10:08</td></tr>
<tr><td>22.00</td><td>20.00</td><td>10:08</td></tr>
<tr><td>22.00</td><td>20.00</td><td>10:09</td></tr>
<tr><td>22.00</td><td>20.00</td><td>10:09</td></tr>
<tr><td>22.00</td><td>20.00</td><td>10:09</td></tr>

</table>
