<table>

<tr><td>Temperature</td><td>Humidite</td><td>Heure du releve</td></tr><tr><td>17.00</td><td>22.00</td><td>08:44</td></tr>
<tr><td>17.00</td><td>22.00</td><td>08:45</td></tr>
<tr><td>17.00</td><td>22.00</td><td>08:45</td></tr>
<tr><td>17.00</td><td>22.00</td><td>08:45</td></tr>
<tr><td>17.00</td><td>22.00</td><td>08:46</td></tr>
<tr><td>17.00</td><td>22.00</td><td>08:46</td></tr>
<tr><td>18.00</td><td>22.00</td><td>08:46</td></tr>
<tr><td>18.00</td><td>22.00</td><td>08:47</td></tr>
<tr><td>18.00</td><td>22.00</td><td>08:47</td></tr>
<tr><td>18.00</td><td>22.00</td><td>08:48</td></tr>
<tr><td>18.00</td><td>22.00</td><td>08:48</td></tr>
<tr><td>18.00</td><td>22.00</td><td>08:48</td></tr>
<tr><td>18.00</td><td>22.00</td><td>08:49</td></tr>
<tr><td>18.00</td><td>22.00</td><td>08:49</td></tr>
<tr><td>18.00</td><td>22.00</td><td>08:49</td></tr>
<tr><td>18.00</td><td>22.00</td><td>08:50</td></tr>
<tr><td>18.00</td><td>22.00</td><td>08:50</td></tr>
<tr><td>18.00</td><td>22.00</td><td>08:50</td></tr>
<tr><td>18.00</td><td>22.00</td><td>08:51</td></tr>
<tr><td>18.00</td><td>22.00</td><td>08:51</td></tr>
<tr><td>18.00</td><td>22.00</td><td>08:51</td></tr>
<tr><td>18.00</td><td>22.00</td><td>08:52</td></tr>
<tr><td>18.00</td><td>22.00</td><td>08:52</td></tr>
<tr><td>18.00</td><td>22.00</td><td>08:52</td></tr>
<tr><td></td><td></td><td>16:44</td></tr>
<tr><td></td><td></td><td>16:45</td></tr>
<tr><td></td><td></td><td>16:48</td></tr>

</table>